# Paperless Data Volume Location
PAPERLESS_DATA_VOLUME=/tank/docker/data/paperless-ngx

# Paperless Port
PAPERLESS_PORT=8001

# PostgreSQL Configuration
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=paperless